<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My Library</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/fontawesome-all.css" rel="stylesheet" />
    <link href="~/Content/lmscustom.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body style="padding:unset">
    <div>
        <div style="background-color:#5cb85c;">
            <div style="background-color:#d9534f; height:8px; width:450px">
            </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-success">
            <span class="icon">
                <i class="fas fa-book-open"></i>
            </span>
            @Html.ActionLink("My Library", "Index", "tblBooks",new { area = "" }, new { @class = "navbar-brand btn-lg text-light" })
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
               
                <ul class="navbar-nav justify-content-end" style="padding-right:50px">
                    <li class="" style="padding-left:5px; padding-right:5px">
                        @Html.ActionLink("Books", "Index", "TblBooks", new { area = "" }, new { @class = "btn-lg btn-primary text-light", style = "text-decoration:none;" })
                    </li>
                    
                    <li class="" style="padding-left: 5px; padding-right: 5px">
                        @Html.ActionLink("Request", "Requests", "AdminTransaction", new { area = "" }, new { @class = "btn-lg btn-primary text-light", style = "text-decoration:none;" })
                    </li>
                    <li class="" style="padding-left:5px; padding-right:5px">
                        @Html.ActionLink("Accepted", "Accepted", "AdminTransaction", new { area = "" }, new { @class = "btn-lg btn-primary text-light", style = "text-decoration:none;" })
                    </li>
                    
                </ul>
                <span class="text-light" style="padding-top:1px; padding-right:15px">Welcome back Admin!!</span>
                <ul class="navbar-nav justify-content-end" style="padding-right:50px">
                    <li class="" style="padding-left:5px; padding-right:5px">
                         @Html.ActionLink("Logout", "Logout", "Admin", new { area = "" }, new { @class = "btn-lg btn-primary text-light", onclick = "return alert('Logged out successfully');", style = "display:inline" })
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div style="padding-left:20px; padding-right:20px">
        @RenderBody()
    </div>
    

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>